### 1. 기초

In [3]:
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [5]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [6]:
print('"C:/Windows"')

"C:/Windows"

In [7]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [8]:
print("오늘은", "일요일")

오늘은 일요일

In [11]:
print('naver', 'kakao', 'samsung', sep=';')

naver;kakao;samsung

In [12]:
print('naver', 'kakao', 'samsung', sep='/')

naver/kakao/samsung

In [13]:
print('first', end=' '); print('second')

first second

In [14]:
print(5/3)

1.6666666666666667

### 2. 변수

In [15]:
삼성전자 = 50000 # binding
print(삼성전자 * 10)

500000

In [16]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [19]:
s = "hello"
t = "python"

print(s+'!',t)

hello! python

In [20]:
print(2+2*3)

8

In [21]:
a = 128
print(type(a))

<class 'int'>

In [22]:
a = "128"
print(type(a))

<class 'str'>

In [24]:
num_str = "720"
num_str = int(num_str)
print(num_str+1, type(num_str))

721 <class 'int'>

In [25]:
num = 100
num = str(num)
print(num+'!', type(num))

100! <class 'str'>

In [27]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [28]:
year = "2022"
year = int(year)
print(year, type(year))

2022 <class 'int'>

In [29]:
monthly_cost = 48584
months = 36
total_cost = monthly_cost * months

print(total_cost)

1749024

### 3. 문자열

In [30]:
letters = "python"
print(letters[0], letters[2])

p t

In [31]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [36]:
string = "홀짝홀짝홀짝"
print(string[::2]) # 시작:끝:offset

홀홀홀

In [37]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [38]:
phone_number = "010-1111-2222"
print(phone_number.replace('-', ' '))

010 1111 2222

In [39]:
print(phone_number.replace('-', ''))

01011112222

In [41]:
url = "http://sharebook.kr"
print(url.split('.')[-1])

kr

In [43]:
lang = "python"
lang[0] = 'P' # python string은 immutable
print(lang)

TypeError: 'str' object does not support item assignment

In [44]:
string = 'abcdfe2a354a32a'
print(string.replace('a', 'A'))

Abcdfe2A354A32A

In [45]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [46]:
a = '3'
b = '4'
print(a + b)

34

In [47]:
print("Hi" * 3)

HiHiHi

In [48]:
print('-' * 80)

--------------------------------------------------------------------------------

In [51]:
t1 = 'python'
t2 = 'java'

print((t1 + ' ' + t2 + ' ') * 3)

python java python java python java

In [56]:
name1 = "김민수"
name2 = "이철희"
age1 = 10
age2 = 13

print('이름: %s 나이: %d' % (name1, age1))
print('이름: %s 나이: %d' % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [58]:
print('이름: {} 나이: {}'.format(name1, age1))
print('이름: {} 나이: {}'.format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [60]:
print(f'이름: {name1} 나이: {age1}') #f-string
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [61]:
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(',', '')))

5969782550

In [64]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [65]:
data = "   삼성전자    "
print(data.strip()) # strip: 좌우 공백을 제거

삼성전자

In [1]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [2]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [3]:
string = 'hello'
print(string.capitalize())

Hello

In [4]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [7]:
file_name = "보고서.xlsx"
print(file_name.endswith(('xlsx', 'xls'))) # tuple로 여러 문자열 인가

True

In [8]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

In [10]:
date = "2020-05-01"
parsed_date = date.split('-')
print(f'{parsed_date[0]}년 {parsed_date[1]}월 {parsed_date[2]}일')

2020년 05월 01일

In [11]:
print(parsed_date)

['2020', '05', '01']

In [12]:
data = "039490     "
print(data.rstrip())

039490